body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background color for the body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #fff; /* White background for the header */
    padding: 20px;
    width: 100%;
    text-align: center;
}

.intro {
    margin-bottom: 80px; /* Space between the intro text and the menu */
}

.intro h1 {
    font-size: 36px; /* Size of the main title */
    font-weight: bold; /* Make the text bold */
    margin: 0;
    color: #333; /* Dark color for better readability */
}

.intro p {
    font-size: 18px; /* Size of the paragraph text */
    margin: 10px 0 0; /* Margin for spacing */
    color: #666; /* Slightly lighter color for the paragraph text */
    line-height: 1.5; /* Line height for better readability */
}

nav .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Dark color for the menu text */
    text-align: center;
}

.menu-item i.material-icons {
    font-size: 36px;
    margin-right: 8px;
}

.menu-item span {
    font-size: 18px;
}

.menu-item:hover {
    color: #ff5722; /* Color change on hover */
}



.about-me {
    padding: 40px 20px; /* Add padding around the section */
    background-color: #f9f9f9; /* Light background color */
    width: 100%; /* Full width section */
    display: flex;
    justify-content: center; /* Center the content horizontally */
}

.about-container {
    display: flex; /* Flexbox for the container */
    align-items: center; /* Align items vertically */
    max-width: 1000px; /* Limit width */
}

.about-image {
    max-width: 300px; /* Adjust image size */
    margin-right: 20px; /* Space between image and text */
    border-radius: 8px; /* Optional: Rounded corners */
}

.about-text {
    font-family: Helvetica, Arial, sans-serif;
}

.about-text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.about-text p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

